<div class="row ">
    <div class="col-lg-12 center-block center" >
        <h1 class="scale-fade-in" ng-show="initialized"> Quem vai fazer café agora?</h1>
    </div>

    <div class="row center-block scale-fade" ng-hide="spinner || result" >
        <div class="col-lg-12 center-block scale-fade-in">
            <form ng-submit="addNome()">
                <input ng-show="initialized" type="text" ng-model="pessoa.nome" class="form-control nome" placeholder="Digite o nome...">
            </form>
        </div>
    </div>


    <div ng-show="spinner" class="row spinner large">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>

        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>


    <div class="row center">
        <h2 ng-show="spinner" class="shadows-h2 scale-fade">
            <span data-ng-bind="transient"></span>
        </h2>

        <h2 ng-show="result" class="shadows-h2 scale-fade center-block">
            E o sorteado é:
            <span class="" data-ng-bind="transient"></span>
        </h2>

        <div ng-show="result" class="row center">
            <button class="btn btn-lg shadows-h2 scale-fade" ng-click="repeat()">
                Repetir
            </button>
        </div>
    </div>


    <div class="row center hovered">
        <h2 class="shadows-h2 scale-fade" ng-click="remove($index)" ng-repeat="pessoa in pessoas track by $index"><span
                ng-bind="pessoa.nome"></span></h2>
    </div>

    <div class="row center" ng-show="showButton" >
        <button class="btn btn-lg shadows-h2 scale-fade" ng-click="calcular()">
            CALCULAR
        </button>
    </div>
</div>

